

* {
    padding: 0;
    margin: 0;
    border: 0;
}

a {
    text-decoration: none;
}

a:hover, a:focus {
    text-decoration: underline;
}

img {
    vertical-align: top;
    max-width: 100%;
}

ul, ol, li {
    list-style: none;
}

#wrap {
    position: relative;
    width: 100%;
    overflow-x: hidden;
}

#navWrap {
    top: 0;
    height: 120px;
    position: relative;
    z-index: 10;
}

.gnb_wrap {
    background: #f6f5ef;
    border-top: 2px solid #000;
    border-bottom: 1px solid #e5e5e5;
    left: 0;
    top: 0;
    position: fixed;
    width: 100%;
    height: 120px;
}

.gnb_inner {
    margin: 0 auto;
    position: relative;
    height: 120px;
    width: 1100px;
}

.gnb_inner h1.logo {
    position: absolute;
    top: 22px;
    left: 0;
    height: 75px;
    width: 75px;
}

.gnb_inner h1.logo a {
    background: url('img/logo.png') no-repeat;
    display: block;
    height: 100%;
    width: 100%;
    overflow: hidden;
    text-indent: -9999px;
}

.gnb_inner nav.util_nav {
    position: absolute;
    height: 20px;
    width: 464px;
    right: 93px;
    top: 18px;
}

.gnb_inner nav.util_nav ul li {
    margin: 0 0 0 25px;
    float: left;
    text-align: center;
    position: relative;

}

.gnb_inner nav.util_nav ul li a {
    color: #555;
    display: block;
    font: normal 13px Arial, georgia;
}

.gnb_inner nav.util_nav ul li:first-child:before {
    display: none;
}

.gnb_inner nav.util_nav ul li:before {
    display: block;
    content: '';
    width: 2px;
    height: 13px;
    position: absolute;
    background: #e5e5e5;
    left: -13px;
}

.gnb_inner p.btn_search {
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    position: absolute;
    height: 32px;
    width: 32px;
    right: 54px;
    top: 9px;
}

.gnb_inner p.btn_search a img {
    position: absolute;
    right: 7px;
    top: 6px;
}

.gnb_nav {
    position: absolute;
    left: 0;
    top: 54px;
    width: 100%;
    height: 66px;
}

.gnb_nav .gnb_nav_inner {
    margin: 0 auto;
    height: 66px;
    width: 1100px;
}

.gnb_nav .gnb_nav_inner ul {
    float: right;
}

.gnb_nav .gnb_nav_inner ul li {
    float: left;
    margin-right: 40px;
}

.gnb_nav .gnb_nav_inner ul li h2 a {
    color: #333;
    display: block;
    font: normal 13px Arial, georgia;
    text-align: center;
    width: 100%;
    height: 56px;
    line-height: 20px;
    padding-top: 10px;
}

.gnb_nav .gnb_nav_inner ul li h2 a.on {
    background: #2c2a29;
    color: #669900;
}

.gnb_sub_wrap {
    display: none; /* 드롭다운 */
    background: #2c2a29;
    position: absolute;
    width: 100%;
    top: 66px;
    left: 0;
}

.gnb_sub {
    display: inline-block;
    width: 100%;
    padding: 20px 0;
}

.gnb_sub .gnb_sub_inner {
    left: 50%;
    position: relative;
    margin-left: -550px;
    width: 1100px;
}

.gnb_sub .gnb_sub_inner ul {
    float: left;
    width: 220px;
}

.gnb_sub .gnb_sub_inner ul li {
    width: 100%;
    padding: 3px 0;
}

.gnb_sub .gnb_sub_inner ul li a {
    color: #999;
    font-size: 12px;
}

.gnb_sub .gnb_sub_inner ul:last-child {
    clear: both;
    padding-top: 30px;
}

.gnb_sub .gnb_sub_inner ul li.gnb_sub_ttl {
    padding-bottom: 12px;
}

.gnb_sub .gnb_sub_inner ul li.gnb_sub_ttl a {
    color: #fff;
    font-size: 14px;
    font-weight: normal;
}

.gnb_sub_infoBx {
    background: url('img/gnb_sub_txbg.jpg');
    display: inline-block;
    width: 100%;
    padding: 5px 0 20px 0;
}

.gnb_sub_infoBx .gnb_sub_info_inner {
    margin: 0 auto;
    width: 1100px;
}

.gnb_sub_info {
    float: left;
}

.gnb_sub_info h3 {
    margin-top: 25px;
}

.gnb_sub_info h3 a {
    color: #999;
    font-size: 12px;
}

.gnb_sub_info .gnb_sub_info_txt {
    color: #64a70b;
    float: left;
    width: 100%;
    font-size: 12px;
}

/* 태블릿, ipad css */

.ipad_gnb_wrap {
    display: none;
}

#container {
    width: 100%;
}

#container section {
    display: grid;
    grid-template-columns: 1fr;
}

#topWrap {
    height: 100%;
}

.floating_badge {
    position: fixed;
    top: 154px;
    left: 55%;
    width: 140px;
    margin-left: 485px;
    z-index: 10;
}

.floating_badge img {
    display: block;
    width: 100%;
}

.floating_badge .m-badge {
    display: none;
}

.main-visual_wrap {
    background: url('img/topwrap/2021_cherryblossom_bg.jpg') center no-repeat;
    background-size: cover;
    height: 646px;
}

.main-visual_inner {
    position: relative;
    padding-top: 59px;
    max-width: 1080px;
    height: 100%;
    margin: 0 auto;
    box-sizing: border-box;
}

.main-visual_slogan {
    padding-left: 20px;
    margin-left: -10px;
    max-width: 370px;
}

.m-slogan {
    display: none;
}

.btn_slogan {
    position: absolute;
    width: 125px;
    height: 38px;
    left: 10%;
    margin-top: 30px;
}

.btn_slogan a {
    display: block;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 5px;
    font-size: 15px;
    line-height: 34px;
    text-align: center;
    box-sizing: border-box;
    transition: background-color .5s;
}

.btn_slogan a:hover {
    background: #935649;
    border-color: #935649;
}

.cont_common {
    position: absolute;
}

.cont_common img {
    width: 100%;
}

.cont_common a {
    position: absolute;
    font-size: 0;
    left: 24%;
    width: 50%;
    height: 90%;
}

.cont_common:after {
    display: block;
    content: '';
    position: absolute;
}

.cont_01 {
    left: 28%;
    bottom: 5%;
    width: 30%;
    max-width: 335px;
}

.cont_01:after {
    width: 55%;
    max-width: 182px;
    height: 88px;
    bottom: 28%;
    left: -35%;
    background: url('img/topwrap/2021_cherryblossom_chocolate_txt.png') no-repeat;
    background-position: center top;
    background-size: contain;
}

.cont_02 {
    left: 55%;
    bottom: 13%;
    width: 30%;
    max-width: 262px;
}

.cont_02:after {
    width: 77%;
    max-width: 202px;
    height: 89px;
    bottom: 105%;
    background: url('img/topwrap/2021_cherryblossom_coldbrew_txt2.png') no-repeat;
    background-position: center top;
    background-size: contain;
}

.cont_03 {
    right: -3%;
    bottom: 9%;
    width: 25%;
    max-width: 268px;
}

.cont_03:after {
    width: 82%;
    max-width: 220px;
    height: 89px;
    left: 3%;
    bottom: 105%;
    background: url('img/topwrap/2021_cherryblossom_blended_txt.png') no-repeat;
    background-position: center top;
    background-size: contain;
}


.m-drink {
    display: none;
}

.line_notice {
    position: relative;
    height: 62px;
    width: 100%;
}

.line_notice_left {
    position: absolute;
    width: 50%;
    height: 62px;
    background: black;
    left: 0;
    top: 0;
}

.line_notice_right {
    position: absolute;
    width: 50%;
    height: 62px;
    background: white;
    right: 0;
    top: 0;
}

.line_notice_bg {
    position: absolute;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 1280px;
    height: 62px;
    left: 50%;
    margin-left: -640px;
}

.line_notice_bg .black {
    height: 62px;
    width: 730px;
    background: black;
}

.line_notice_bg .black p {
    color: white;
}

.line_notice_bg .white {
    width: 550px;
    height: 62px;
    background: white;
}

.line_notice_bg .white p {
    color: black;
}

/* rewards */

.rewards_wrap {
    padding: 30px 0 40px 0;
    background: #1e3932;
}

.rewards_inner {
    max-width: 1080px;
    width: 100%;
    margin: 0 auto;
}

.rewards_logo {
    float: left;
    margin: 0 40px;
    width: 16.3%;
}

.rewards_logo img {
    width: 176px;
}

.rewards_cont {
    float: left;
    box-sizing: border-box;
    color: #fff;
    padding-right: 30px;
    width: calc(83.7% - 80px);
}

.rewards-info {
    position: relative;
    margin-bottom: 20px;
    border-bottom: 1px solid #4b615b;
}

.info-txt, .info-txt-m {
    margin-bottom: 12px;
}

.info-txt-m {
    display: none;
}

.rewards-info .ttl {
    font-size: 24px;
    margin-bottom: 12px;
}

.rewards-info .txt {
    font-size: 17px;
    line-height: 20x;
}

.rewards_cont a {
    line-height: 33px;
    color: #fff;
    padding: 0 13px;
    font-size: 14px;
    text-align: center;
}

.rewards_cont .txt {
    letter-spacing: -0.5px;
}

.info-signinBx {
    width: 174px;
    position: absolute;
    right: 0;
    bottom: 20px;
}

.rewards-info .info-signinBx a {
    display: inline-block;
    box-sizing: border-box;
    border-radius: 5px;
    height:37px;
}

.rewards-info .info-signin {
    background: #00704a;
    border: 2px solid #00740a;
}

.rewards-info .info-login {
    border: 2px solid #fff;
    margin-left: 5px;
    float: right;
}

.rewards-gift {
    position: relative;
}

.rewards-gift .gift-btn a {
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    box-sizing: border-box;
    border-radius: 5px;
    border: 2px solid #fff;
    width: 174px;
    height: 37px;
    text-align: center;
}

.rewards-gift .gift-txt {
    font-size: 14px;
}

.gift-txt-m {
    display: none;
}

#main_wrap {
    height: 573px;
    background: url('img/2021_cherryblossom_bean_bg.jpg') center no-repeat;
    background-size: cover;
    overflow: hidden;
}

.main_inner {
    position: relative;
    max-width: 1080px;
    width: 100%;
    margin: 0 auto;
}

.main_img {
    top: 7%;
    left: 4%;
    position: absolute;
    max-width: 720px;
    width: 67%;
}

.main_img_m {
    display: none;
}

.main_txt_bx {
    position: absolute;
    top: 32%;
    right: 18%;
    max-width: 300px;
    width: 28%;
    letter-spacing: -1px;
}

.main_txt_bx .ttl {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 20px;
    color: #299565;
    letter-spacing: -2.5px;
}

.main_txt_bx .ttl span {
    font-size: 34px;
    color: #1B4727;
}

.main_txt_bx .txt {
    font-weight: bold;
    font-size: 16px;
    color: #1B4727;
}

.main_btn_detail {
    width: 125px;
    height: 38px;
    margin: 30px 2px 0 0;
}

.main_btn_detail a {
    display: block;
    width: 100%;
    height: 100%;
    font-size: 14px;
    text-align: center;
    line-height: 33px;
    color: #231815;
    box-sizing: border-box;
    border: 2px solid #231815;
    border-radius: 5px;
    transition: background .7s, color .7s;
}

.main_btn_detail a:hover {
    background: #231815;
    color: #fff;
}

.reserve_wrap {
    position: relative;
    height: 400px;
    background: url('img/reserve_costarica_bg.jpg') center top no-repeat;
    background-size: cover;
    overflow: hidden;
}

.reserve_wrap:after {
    content: '';
    position: absolute;
    background: url('img/reserve/bg_item.png') right top no-repeat;
    top: 0;
    right: 0;
    width: 330px;
    height: 150px;
}

.reserve_inner {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.reserve_head {
    position: relative;
    max-width: 1080px;
    width: 100%;
    margin: 0 auto;
    padding: 120px 0 0 25px;
    box-sizing: border-box;
}

.reserve_m {
    display: none;
}

.reserve_main {
    display: block;
    position: absolute;
    right: -1%;
    bottom: 0%;
    width: 100%;
    z-index: 3;
}

.reserve_main img {
    width: auto;
}

.reserve_main img.reserve_pc {
    max-width: none;
}

.reserve_btn_wrap {
    position: relative;
    max-width: 1080px;
    width: 100%;
    margin: 0 auto;
    padding-left: 281px;
    box-sizing: border-box;
    z-index: 3;
}

.reserve_btn_detail {
    position: static;
    width: 120px;
    height: 34px;
}

.reserve_btn_detail a {
    display: block;
    font-size: 14px;
    line-height: 33px;
    width: 100%;
    height: 100%;
    color: #682c11;
    text-align: center;
    border: 2px solid #682c11;
    border-radius: 5px;
    transition: background .7s, color .7s;
}

.reserve_btn_detail a:hover {
    color: #fff;
    background: #682c11;
}

#favWrap {
    background: url('img/fav_prod_bg_new.jpg') center center fixed no-repeat #45434c;
    background-size: auto 100%;
    height: 800px;
    padding: 0;
    position: relative;
}

.fav_inner {
    position: absolute;
    width: 1280px;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -640px;
}

.fav_ttl {
    position: absolute;
    overflow: hidden;
    width: 258px;
    top: 110px;
    left: 200px;
}

.fav_txt {
    position: absolute;
    overflow: hidden;
    width: 362px;
    top: 370px;
    left: 90px;
}

.fav-m {
    display: none;
}

.fav_img {
    position: absolute;
    overflow: hidden;
    width: 672px;
    height: 458px;
    top: 85px;
    right: -10px;
}

.fav_img img {
    width: 100%;
}

.fav_btn_wrap {
    position: absolute;
    width: 125px;
    height: 38px;
    border: 2px solid #fff;
    border-radius: 5px;
    top: 570px;
    left: 320px;
}

.fav_btn_wrap a {
    display: block;
    color: #fff;
    width: 100%;
    height: 100%;
    font-size: 15px;
    font-weight: bold;
    line-height: 36px;
    box-sizing: border-box;
    text-align: center;
    transition: background .7s, color .7s;
}

.fav_btn_wrap a:hover {
    color: #000;
    background: #fff;
}

#container .magazine_wrap {
    display: block;
}

.magazine_wrap {
    position: relative;
    background: #fff;
    overflow: hidden;
}

.magazine_pc {
    position: relative;
    max-width: 1240px;
    margin: 0 auto;
    padding: 90px 0;
    font-size: 0;
}

.magazine_pc > div {
    display: inline-block;
    vertical-align: top;
}

.magazine_pc:before {
    position: absolute;
    content:'';
    width: 95%;
    height: 1px;
    top: 61%;
    left: 10%;
    background: #cccccb;
}

.magazine_pc:after {
    position: absolute;
    content: '';
    width: 1px;
    height: 64%;
    top: 136px;
    left: 44%;
    background: #cccccb;
}

.magazine_left {
    position: relative;
    width: 38.5%;
    padding-left: 4%;
}

.magazine_right {
    width: 45.6%;
    margin-left: 6%;
    padding-right: 3.5%;
}

.magazine_right .magazine_txt_img {
    position: relative;
    left: 0;
    margin-top: 34%;
}

.magazine_m {
    display: none;
}

.magazine_btn {
    position: absolute;
    width: 287px;
    height: 17px;
    padding: 8px 10px;
    transition: background .8s;
    text-indent: -9999px;
    bottom: 31%;
    margin-left: calc(50% - 30px);
}

.magazine_btn a {
    display: block;
    width: 100%;
    height: 100%;
    background: url('img/mag/btn_pc.png') 0 0 no-repeat;
}

.magazine_btn:hover {
    background: #976d3f;
}

.magazine_btn:hover a {
    background-position: 0 -17px;
}

#storeWrap {
    background: url('img/store_bg.jpg');
    background-size: 100% auto;
    height: 400px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#footer {
    height: 600px;
    background: #2c2a29;
    position: relative;
    width: 100%;
}


@media screen and (max-width: 1440px) {

    .floating_badge {
        left: auto;
        right: 1%;
    }

    .line_notice_bg {
        width: 960px;
        margin-left: -480px;
    }

    .line_notice_bg .black {
        width: 55%;
    }

    .line_notice_bg .white {
        width: 45%;
    }

    .reserve_main {
        width: 130%;
        right: -18%;
    }

    .reserve_wrap:after {
        background-size: 80% auto;
    }
}

@media screen and (max-width: 1280px) {

      .reserve_main {
          width: 150%;
          right: -37%;
      }

      .reserve_main .reserve_pc {
          width: 100%;
      }

      .fav_ttl {
          left: 250px
      }

      .fav_txt {
          left: 140px
      }

      .fav_img {
          width: 612px;
          top: 70px;
          right: 100px;
      }


}

@media screen and (max-width: 1024px) {

      .gnb_inner h1.logo {
          left: 20px;

      }

      .gnb_inner, .gnb_nav .gnb_nav_inner {
          width: 100%;
      }

      .main-visual_inner {
          padding-top: 5%;
      }

      .main-visual_slogan {
          width: 37%;
          margin-left: 20px;
      }

      .btn_slogan {
          left: 13%;
      }

      .cont_01 {
          left: 22%;
      }

      .cont_02 {
          left: 47%;
      }

      .cont_03 {
          right: 6%;
      }

      .rewards_wrap {
          padding-bottom: 77px;
      }

      .rewards_logo {
          width: 35%;
          margin-top: 65px;
          margin-right: 30px;
      }

      .rewards_logo img {
          width: auto;
          max-width: 100%;
      }

      .rewards_cont {
          width: calc(65% - 80px);
      }

      .info-txt {
          display: none;
      }

      .info-txt-m {
          display: block;
          text-align: center;
          margin-bottom: 69px;
      }

      .info-txt-m .txt {
          font-size: 15px;
      }

      .info-signinBx {
          display: inline-block;
          margin-bottom: 20px;
          width: 100%;
          right: auto;
          left: auto;
          bottom: 0;
      }

      .gift-txt {
          display: none;
      }

      .gift-txt-m {
          display: block;
          text-align: center;
          margin-bottom: 12px;
      }

      .gift-txt-m .txt {
          font-size: 14px;
      }

      .rewards_cont .rewards-gift .gift-btn a {
          display: inline-block;
          margin-bottom: 20px;
          width:100%;
          max-width: 174px;
          top: auto;
          right: 0;
          left: auto;
          bottom: auto;
      }

      .reserve_wrap {
          height: 380px;
      }

      .reserve_wrap:after {
          background-size: 70% auto;
      }

      .reserve_head {
          max-width: none;
          width: 48%;
          margin-left: 0;
          padding: 85px 0 0 35px;
      }

      .reserve_btn_wrap {
          max-width: none;
          width: 40%;
          margin-left: 0;
          padding-left: 23.5%;
      }

      #favWrap {
          height: 710px;
          background-attachment: initial;
      }

      .fav_ttl {
          top: 120px;
          left: 300px;
          width: 220px;
          height: 175px;
      }

      .fav_txt {
          top: 350px;
          left: 195px;
          width: 320px;
          height: 137px;
      }

      .fav_btn_wrap {
          top: 520px;
          left: 385px;
      }

}

@media screen and (max-width: 960px) {

    #navWrap {
        height: 58px;
    }

    .gnb_wrap {
        display: none;
    }

    .ipad_gnb_wrap {
        display: grid;
        background: #f6f5ef;
        border-bottom: 1px solid #e5e5e5;
        height: 69px;
        left: 0;
        top: 0;
        position: fixed;
        width: 100%;
        z-index: 10;
    }

    .ipad_gnb_wrap h1.logo a {
        display: block;
        height: 100%;
        width: 100%;
        overflow: hidden;
        }

    .ipad_gnb_wrap h1.logo a img {
        height: 45px;
        width: 45px;
        top: 13px;
        left: 10px;
        position: absolute;
      }

    .main-visual_wrap {
        height: 565px;
    }

    .floating_badge {
        top: 85px;
        width: 14%;
    }

    .floating_badge .pc-badge {
        display: none;
    }

    .floating_badge .m-badge {
        display: block;
    }

    .main-visual_inner {
        padding-top: 7%;
    }

    .main-visual_slogan {
        width: 33%;
    }

    .btn_slogan {
        left: 10%;
        margin-top: 22px;
    }

    .cont_01 {
        left: 22%;
        width: 31%;
    }

    .cont_02 {
        left: 46%;
        width: 23%;
    }

    .cont_03 {
        right: 10%;
        width: 24%;
    }

    #main_wrap {
        height: 60vw;
    }

    .main_img {
        width: 75%;
    }

    .main_txt_bx {
        width: 45%;
        right: 5%;
    }

    .main_txt_Bx .ttl {
        font-size: 18px;
    }

    .main_txt_bx .ttl span {
        font-size: 28px;
    }

    .main_txt_bx .txt {
        font-size: 14px;
    }

    .reserve_wrap {
        height: 100%;
    }

    .reserve_inner {
        left: 0;
    }

    .reserve_head {
        display: none;
    }

    .reserve_main {
        position: relative;
        float: none;
        right: auto;
        left: 0;
        max-width: none;
        width: 100%;
        margin-top: 0;
    }

    .reserve_main .reserve_pc {
        display: none;
    }

    .reserve_main .reserve_m {
        display: block;
        max-width: none;
        width: 100%;
    }

    .reserve_btn_wrap {
        position: static;
        width: auto;
    }

    .reserve_btn_detail {
        position: absolute;
        padding: 0;
        bottom: 8%;
        left: 50%;
        margin-left: -55px;
        z-index: 3;
    }

    .reserve_btn_detail a {
        color: #f5d3c2;
        border-color: #f5d3c2;
    }

    .reserve_btn_detail a:hover {
        color: #682c11;
        background: #fff;
        border-color: #fff;
    }

    #favWrap {
        background: url('img/fav/fav_bg_m.jpg') center -6px no-repeat #16151b;
        background-size: 100% auto;
        height: 1130px;
        width: 100%;
    }

    .fav_ttl {
        position: absolute;
        width: 350px;
        height: 72px;
        top: 700px;
        left: 50%;
        margin-left: -170px;
    }

    .fav_txt {
        position: absolute;
        width: 440px;
        height: 130px;
        top: 810px;
        left: 50%;
        margin-left: -220px;
    }

    .fav-pc {
        display: none;
    }

    .fav-m {
        display: block;
    }

    .fav_img {
        position: static;
        top: auto;
        right: auto;
        margin: 130px auto 0;
    }

    .fav_btn_wrap {
        top: 980px;
        left: 50%;
        margin-left: -65px;
    }

}

@media screen and (max-width: 640px) {

    .floating_badge {
        top: 95px;
        width: 26%;
        right: 2%;
    }

    .main-visual_wrap {
        height: 302vw;
        background: url('img/topwrap/m_2021_cherryblossom_bg.jpg')
    }

    .main-visual_inner {
        padding-top: 22%;
    }

    .main-visual_slogan {
        width: 63%;
        max-width: 400px;
        margin: -1% 0 0 10%;
    }

    .pc-slogan {
        display: none;
    }

    .m-slogan {
        display: block;
    }

    .btn_slogan {
        position: absolute;
        bottom: 4%;
        left: 50%;
        width: 115px;
        height: 34px;
        margin-left: -58px;
    }

    .cont_common, .cont_common:after {
        max-width: none;
        bottom: auto;
    }

    .pc-drink {
        display: none;
    }

    .m-drink {
        display: block;
    }

    .cont_01 {
        top: 19%;
        left: 5%;
        width: 62%;
    }

    .cont_01:after {
        bottom: 45%;
        left: 79%;
        width: 62%;
        height: 109px;
        background: url('img/topwrap/m_2021_cherryblossom_chocolate_txt.png') no-repeat;
        background-size: contain;
    }

    .cont_02 {
        top: 42%;
        left: auto;
        right: 0.1%;
        width: 50%;
    }

    .cont_02:after {
        bottom: 38%;
        left: -78%;
        width: 75%;
        height: 150px;
        background: url('img/topwrap/m_2021_cherryblossom_coldbrew_txt.png') no-repeat;
        background-size: contain;
    }

    .cont_03 {
        bottom: 10%;
        left: 8%;
        width: 55%;
    }

    .cont_03:after {
        bottom: 45%;
        left: 74%;
        width: 74%;
        height: 160px;
        background: url('img/topwrap/m_2021_cherryblossom_blended_txt.png') no-repeat;
        background-size: contain;
    }

    .line_notice, .line_notice_bg {
        grid-template-columns: 1fr;
        width: 100%;
        margin: 0;
        left: 0;
    }

    .line_notice {
        height: 140px;
    }

    .line_notice_left, .line_notice_right {
        display: none;
    }

    .ling_notice_bg {
        height: 70px;
        width: 100%;
    }

    .line_notice_bg .black {
        height: 70px;
        width: 100%;
    }

    .line_notice_bg .white {
        height: 70px;
        width: 100%;
    }

    .rewards_logo {
        margin: 0 auto 35px;
        float: none;
        width: 40%;
    }

    .rewards_logo img {
        min-width: 124px;
    }

    .rewards_cont {
        float: none;
        width: 90%;
        margin: 0 auto;
        padding-right: 0;
    }

    .rewards_cont .txt {
        font-size: 14px;
    }

    .info-signinBx {
        width: 80%;
        left: 10%;
    }

    .rewards-info .info-signinBx a {
        border-radius: 3px;
        width: calc(50% - 5px);
    }

    .rewards_cont .rewards-gift .gift-btn {
        width: 100%;
        height: 37px;
    }

    .rewards_cont .rewards-gift .gift-btn a {
        margin-top: 12px;
        text-align: center;
        width: 80%;
        left: 10%;
        max-width: none;
        right: auto;
    }

    #main_wrap {
        height: 170vw;
        background: url('img/main/m_bg.jpg') no-repeat;
        background-size: cover;
    }

    .main_inner {
        max-width: none;
    }

    .main_img {
        max-width: none;
        width: 90%;
        top: 11%;
        left: 10%;
    }

    .main_img img {
        width: auto;
    }

    .main_img .main_img_pc {
        display: none;
    }

    .main_img .main_img_m {
        display: block;
    }

    .main_txt_bx {
        max-width: none;
        width: 75%;
        top: auto;
        left: 11%;
        bottom: 12%;
        text-align: center;
    }

    .main_txt_bx .ttl {
        font-size: 26px;
    }

    .main_txt_bx .ttl span {
        font-size: 40px;
    }

    .main_txt_bx .txt {
        font-size: 18px;
    }

    .main_btn_detail {
        margin: 14% auto 0;
    }

    .fav_img {
        width: 460px;
        height: 310px;
    }

    .fav_btn_wrap {
        width: 115px;
        height: 30px;
        margin-left: -60px;
    }

    .fav_btn_wrap a {
        font-size: 13px;
        line-height: 30px;
    }


}

@media screen and (max-width: 480px) {

    .cont_01:after {
        height: 66px;
        bottom: 42%;
    }

    .cont_02:after {
        height: 70px;
    }

    .cont_03:after {
        height: 70px;
    }

    .main_inner {
        height: 100%;
    }

    .main_txt_bx {
        bottom: 11%;
    }

    .main_txt_bx .ttl {
        font-size: 18px;
    }

    .main_txt_bx .ttl span {
        font-size: 24px;
    }

    .main_txt_bx .txt {
        font-size: 13px;
    }

    .main_btn_detail a {
        font-size: 13px;
        line-height: 32px;
    }

    #favWrap {
        height: 700px;
    }

    .fav_ttl {
        width: 250px;
        top: 410px;
        margin-left: -125px;
    }

    .fav_txt {
        width: 300px;
        top: 490px;
        margin-left: -150px;
    }

    .fav_img {
        width: 320px;
        height: 260px;
        margin: 90px auto 0;
    }

    .fav_btn_wrap {
        top: 600px;
    }

}
