

* {
    padding: 0;
    margin: 0;
    border: 0;
}

a {
    text-decoration: none;
}

a:hover, a:focus {
    text-decoration: underline;
}

ul, ol, li {
    list-style: none;
}

/* 반응형 시작 */

@media screen and (min-width: 961px) {

    .gnb_wrap {
        height: 120px;
    }

    .gnb_inner {
        height: 120px;
        width: 1100px;
    }

    .gnb_inner h1.logo {
        height: 75px;
        top: 22px;
        width: 75px;
    }

    .gnb_inner nav.util_nav {
        height: 20px;
        right: 93px;
        top: 18px;
        width: 464px;
    }

    .gnb_inner nav.util_nav ul li {

    }

    .gnb_inner p.btn_search {
        height: 32px;
        width: 32px;
        right: 54px;
        top: 9px;
    }

    .gnb_inner p.btn_search a img {
        right: 7px;
        top: 6px;
    }

    .gnb_nav {
        height: 66px;
        top: 54px;
    }

    .gnb_nav .gnb_nav_inner {
        height: 66px;
        width: 1100px;
    }

    .gnb_nav .gnb_nav_inner ul {
        float: right;
    }

    .gnb_nav .gnb_nav_inner ul li {
        float: left;
    }

    .gnb_nav .gnb_nav_inner ul li h2 a {
        height: 56px;
        line-height: 20px;
        padding-top: 10px;
    }

    .gnb_sub_wrap {
        left: 0;
        top: 66px;
    }

    .gnb_sub {
        padding: 20px 0;
    }

    .sub_gnb_nav_inner > ul li {
        float: left;
    }

    .gnb_sub .gnb_sub_inner {
        margin-left: -550px;
        width: 1100px;
    }

    .gnb_sub .gnb_sub_inner ul {
        width: 220px;
    }

    .gnb_sub .gnb_sub_inner ul li {
        padding: 3px 0;
    }

    .gnb_sub .gnb_sub_inner ul li.gnb_sub_ttl {
        padding-bottom: 12px;
    }

    .gnb_sub .gnb_sub_inner ul li.gnb_sub_ttl a {
        color: #fff;
        font-size: 14px;
        font-weight: normal;
    }

    .gnb_sub .gnb_sub_inner ul li a {
        font-size: 12px;
    }

    .gnb_sub_infoBx {
        padding: 5px 0 20px 0;
    }

    .gnb_sub_infoBx .gnb_sub_info_inner {
        width: 1100px;
    }

    .gnb_sub_info h3 {
        margin-top: 25px;
    }

    .gnb_sub_info h3 a {
        font-size: 12px;
    }

    .gnb_sub_info .gnb_sub_info_txt {
        font-size: 12px;
    }

}

@media screen and (max-width:960px) {

}

#wrap {
    position: relative;
    width: 100%;
    overflow-x: hidden;
}

#navWrap {
    height: 120px;
    position: relative;
}

.gnb_wrap {
    background: #f6f5ef;
    border-top: 2px solid #000;
    border-bottom: 1px solid #e5e5e5;
    left: 0;
    top: 0;
    position: fixed;
    width: 100%;
}

.gnb_inner {
    margin: 0 auto;
    position: relative;
}

.gnb_inner h1.logo {
    position: absolute;
    left: 0;
}

.gnb_inner .logo a {
    background: url('img/logo.png') no-repeat;
    display: block;
    height: 100%;
    width: 100%;
    overflow: hidden;
    text-indent: -9999px;
}

.gnb_inner nav.util_nav {
    position: absolute;
}

.gnb_inner nav.util_nav ul li {
    margin: 0 0 0 25px;
    float: left;
    text-align: center;
    position: relative;

}

.gnb_inner nav.util_nav ul li a {
    color: #555;
    display: block;
    font: normal 13px Arial, georgia;
}

.gnb_inner nav.util_nav ul li:first-child:before {
    display: none;
}

.gnb_inner nav.util_nav ul li:before {
    display: block;
    content: '';
    width: 2px;
    height: 13px;
    position: absolute;
    background: #e5e5e5;
    left: -13px;
}

.gnb_inner p.btn_search {
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    position: absolute;
}

.gnb_inner p.btn_search a img {
    position: absolute;
}

.gnb_nav {
    position: absolute;
    left: 0;
    width: 100%;
}

.gnb_nav .gnb_nav_inner {
    margin: 0 auto;
}

.gnb_nav .gnb_nav_inner ul li {
    margin-right: 40px;
}

.gnb_nav .gnb_nav_inner ul li h2 a {
    color: #333;
    display: block;
    font: normal 13px Arial, georgia;
    text-align: center;
    width: 100%;
}

.gnb_nav .gnb_nav_inner ul li h2 a.on {
    background: #2c2a29;
    color: #669900;
}

.gnb_sub_wrap {
    display: block;
    background: #2c2a29;
    position: absolute;
    width: 100%;
}

.gnb_sub {
    display: inline-block;
    width: 100%;
}

.gnb_sub_inner {
    left: 50%;
    position: relative;
}

.gnb_sub .gnb_sub_inner ul {
    float: left;
}

.gnb_sub .gnb_sub_inner ul li {
    width: 100%;
}

.gnb_sub .gnb_sub_inner ul li a {
    color: #999;
}

.gnb_sub .gnb_sub_inner ul:last-child {
    clear: both;
    padding-top: 30px;
}

.gnb_sub_infoBx {
    background: url('img/gnb_sub_txbg.jpg');
    display: inline-block;
    width: 100%;
}

.gnb_sub_infoBx .gnb_sub_info_inner {
    margin: 0 auto;
}

.gnb_sub_info {
    float: left;
}

.gnb_sub_info h3 a {
    color: #999;
}

.gnb_sub_info .gnb_sub_info_txt {
    color: #64a70b;
    float: left;
    width: 100%;
}
